# Save states & logs
data/
animations/
models/
logs/

# Virtual environments
# (requirements file in progress...)
.venv
venv

# Notebooks
notebooks/
benchmarks/
*.ipynb_checkpoints

# Caches
__pycache__/
*.py[cod]

# macOS stuff
.DS_Store

# Article write-up
writeup.md